* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif;

  color: #ddd;
  background: #333;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 2rem;
}

.maintenance-img {
  margin: 2rem;
  padding: 1rem;
}

.maintenance-img img {
  width: 100%;
}

.maintenance-img:hover {
  background: khaki;
}

a {
  text-decoration: none;
  background: grey;
}

a:hover {
  background: black;
}

.home-link {
  padding: 0.8rem;
  border-radius: 0.8rem;
}
